* {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* CSS ANH KIET */
body, html {
    line-height: 1.5;
    color: #212529;
    position: relative;
  }

/* CSS ANH KIET */



.banner{
    background-size: cover;
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), 
    url(/img/banner1.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: initial;
    background-attachment: fixed;
    min-height: 700px;
}
section{
    display: block;
}

.banner__header{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    padding: 40px 0px 20px 0px;
    align-items: center;
}
h1 a.logo-brand{
    font-family: Segoe UI;
    cursor: pointer !important;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    color: #fff; 
}
.right-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}
.right-content .search-bar{
    display: flex;
}
.position-relative{
    position: relative !important;
}
.right-content .search-bar .search__input{
    display: flex;
    flex: 1;
    padding: 10px 50px 10px 20px;
    height: 45px;
    font-size: 16px;
    color: rgba(22, 28, 45, 0.7);
    border: none;
    font-weight: 400;
    border-radius: 6px;
    position: relative;
    right: 0;
    background: #fff;
    outline: 0;
    border: 1px solid #fff;
}
input{
    font-family: 'Quicksand', sans-serif;
}
.right-content .search-bar .search .search__icon{
    position: absolute;
    right: 20px;
    font-size: 15px;
    top: 15px;
    cursor: pointer;
}
button#trigger-overlay {
    outline: none;
    border: none;
    background: none;
    text-align: center;
    color: #fbfdfb;
    font-size: 1.95em;
    padding: 0 8px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.overlay-scale {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(6 3 0 / 77%);
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
}
.overlay .overlay-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    background: #ff6600;
    color: #fff;
    border-radius: 6px;
}
.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}
.overlay ul li {
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    line-height: 3em;
}
.banner .banner-info{
    max-width: 600px;
    text-align: left;
    margin-top: 100px;
}
.banner .banner-info h3{
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}
.mb-4{
    margin-bottom: 1.5rem !important;
}
.banner .banner-info p{
    font-size: 16px;
    line-height: 28px;
    color: #fff;
} 
.btn-white {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}
.btn-style, .btn-white {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 6px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.title-sub{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}
.title-w31 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}
p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    font-family: 'Quicksand', sans-serif;
}
.w31-agent-block {
    background: #ff6600;
}
.align-items-center {
    align-items: center !important;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.agent-block-image {
    background: url(/img/banner3.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    z-index: 1;
    min-height: 600px;
}
.agent-block-image::before {
    content: "";
    background: rgb(16 15 19 / 46%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
.title-sub.two{
    color: #fff;
}
.title-w31 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}
h3{
    margin: 0;
    padding: 0;
    color: #232121;
    font-family: 'Quicksand', sans-serif;
}
.w31-agent-block p {
    color: #ffdfc9;
}
.subscribe-cat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    grid-gap: 30px;
}
.subscribe-cat-gd .icon {
    background: #fff;
}
.icon {
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
.icon span.fa {
    color: #ff6600;
    font-size: 25px;
    line-height: 70px;
}
.subscribe-cat .subscribe-cat-link {
    display: block;
    color: #232121;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 20px;
}
a, a:hover {
    text-decoration: none;
}
.w31-agent-block p {
    color: #ffdfc9;
}

/* Star CongDat */
/* start features */
.features__item {
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
    border: 1px solid #eee;
    transition: 0.5s;
}

.features__sup-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
}

.features__icon {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(130, 115, 252, .05);
    border-radius: 6px;
    color: #ff6600;
    font-size: 25px;
    transition: 0.5s;
}

.features__item:hover .features__icon {
    background-color: #ff6600;
    color: white;
}

.features__title a {
    color: #232121;
    font-weight: 600;
    text-decoration: none;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.features__title a:hover {
    color: #ff6600;
}

#features p {
    margin: 0px;
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
}
/* end features */

/* start number */
.number__heading {
    background-image: url(./img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}

.number__heading::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: rgb(16 15 19 / 66%);
    min-height: 100%;
    z-index: -1;
}

.number__heading h3 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
}

.number__button .btn__read,
.number__button .btn__contact {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    border-radius: 6px;
    transition: 0.5s;
}

.btn__read {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.btn__read:hover {
    color: #ff6600;
    background-color: #fff;
}

.btn__contact {
    background: #ff6600;
    border: 2px solid transparent;
    color: #fff;
}

.btn__contact:hover {
    opacity: 0.8;
    color: #fff;
}

.number__main {
    margin-top: -70px;
    z-index: 10;
    position: relative;
}

.number__item {
    padding: 40px 20px;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    background-color: #fff;
    border-radius: 6px;
    transition: 0.5s;
}

.number__item:hover {
    transform: translateY(-5px);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

.number__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6600;
    color: #fff;
    border-radius: 50%;
    font-size: 26px;
    width: 68px;
    height: 68px;
    margin: auto;
}

.number__count {
    font-size: 2.6em;
    font-weight: 600;
    color: #232121;
}

.number__item p {
    margin: 0;
    font-size: 18px;
    color: rgba(22, 28, 45, 0.7);
    font-weight: 600;
}

/* end number */

/* start video */
#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
}

#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

#small-dialog .mfp-close {
    right: -15px;
    top: -40px;
    color: #fff;
}

.video__overlay {
    background-image: url(./img/banner3.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 6px;
    min-height: 500px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.video__overlay::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: rgb(16 15 19 / 66%);
    min-height: 100%;
}

.video__overlay a {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.video__overlay .video-play-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 26px;
    padding-left: 2px;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
    color: #ff6600;
    border: transparent;
    background: #fff;
}

.video__overlay .video-play-icon:hover {
    color: #fff;
    background-color: #ff6600;
}

@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
  
    100% {
      box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
  }
/* end video */

/* start blogs */
#blogs {
  background: #f7f7f7;;
}

#blogs a {
    text-decoration: none;
    color: #232121;
}

.blogs__title h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}

.blogs__title h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.blogs__item__top {
    position: relative;
}

.item__top__sup {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
}

#blogs .item__top__sup a {
    background: #ff6600;
    color: #fff;
    padding: 3px 20px;
    border-radius: 35px;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
    letter-spacing: 0.05em;
}

.item__top__sup span {
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    letter-spacing: 0.02em;
}

.item__top__sup i {
    margin-right: 0.3rem;
}

.item__bottom__heding {
    display: block;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
}

.blogs__item__bottom p {
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
}

.blogs__item__footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.blogs__item__footer a {
    font-weight: 700;
    letter-spacing: .02em;
}

.blogs__item__top img {
    width: 100%;
    border-radius: 5px;
}

.item__footer__info {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: flex-start;
}

.item__footer__info img {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}

#blogs .blogs__btn:hover {
    color: #ff6600;
}
/* end blogs */


/* responsive */

@media (max-width: 415px) {
.number__heading h3 {
    font-size: 26px;
    line-height: 34px;
}

.number__button .btn__read,
.number__button .btn__contact {
    padding: 10px 21px;
}
}

@media (max-width: 992px) {
.number__main {
    margin-top: 0px;
}
}

/* end CongDat */


/* START CSS ANH KIET */

/* Start testimonials */
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  
  /* my css */
  .testimonials__title {
    text-align: center;
  }
  .testimonials__title p {
    color: #ff6600;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Pacifico', cursive;
  
  }
  .testimonials__title h3 {
    font-size: 38px;
    font-weight: 600;
    color:#232121;
    font-family: 'Quicksand', sans-serif;
  }
  
  
  .swiper__content {
    max-width: 700px;
    margin: auto;
  }
  
  .swiper__item .comment__img img{
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .swiper__item h2 {
    font-size: 50px;
    color: #ff6600;
    margin: -18px 0;
    font-family: initial;
    font-style: italic;
  }
  .swiper__item h4:first-of-type {
    color: #232121;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 10px 0 20px 0;
  }
  .swiper__item p {
    color:  rgba(22, 28, 45, 0.7);
  }
  .swiper__item h4:last-of-type {
    color: #232121;
  }
  .swiper-pagination {
    position: relative;
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: none;
  
  }
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: none;
  }
  
  .swiper-pagination-clickable .swiper-pagination-bullet:hover {
    background: #ff6600;
  
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #d8d8d8;
    transition: opacity .2s ease;
    border-radius: 30px;
  }
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 20px 10px;
  }
  .swiper-pagination-bullet-active {
    background: #ff6600;
    
  }
  .swiper-pagination-bullet {
    opacity: 1;
  }
  /* End testimonials */
  
  /* Start footer */
  footer {
    background: black;
  }
  
  footer a, p, ul, li{
    color:  #c2d0da;
  }
  footer h6 {
    font-size: 20px;
    color: #eee;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .footer_item1 a {
    font-size: 24px;
    color: #eee;
    font-weight: 600;
    text-decoration: none;
    transition: opacity .2s ease;
  }
  .footer_item1 a:hover {
    color: #ff6600;
    
  }
  
  footer .footer_item1, .footer_item2, .footer_item3, .footer_item4 {
    align-self: flex-start;
  }
  .footer__content ul li {
    list-style: none;
    margin-bottom: 8px;
  }
  .footer__content ul li a{
    text-decoration: none;
    transition: opacity .2s ease;
  
  }
  .footer__content a:hover{
    color: #ff6600;
  }
  .footer__social a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    background: #232220;
    color: #ff6600;
    margin-right: 8px;
    transition: all 0.3s;
  }
  .footer__social a:hover {
    color: #eee;
    background: #ff6600;
  }
  .footer_item4 input{
    height: 48px;
    line-height: 28px;
    padding: 14px 20px;
    font-size: 18px;
    background: #232220; 
    color: #c2d0da;;
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;
    margin: 20px 0 10px 0;
  }
  .footer_item4 input:focus {
    border: 1px solid #ff6600;
    background: #232220;
  }
  .form-control:focus {
    box-shadow: none;
  }
  .footer_item4 button {
    background: #ff6600;
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;  
    line-height: 18px;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.3s;
  }
  .footer_item4 button:hover {
    color: #fff;
    background: #ff6600;
    border: 1px solid #ff6600;
    opacity: 0.8;
  }
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background: #ff6600;
    border: 1px solid #ff6600;
    opacity: 0.8;
  }
  .btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
  }
  /* End footer */
  /* Start copyright */
  #copyright {
    padding: 20px 0;
    background: black;
    border-top: 1px solid rgb(255 255 255 / 5%);
    
  }
  
  .row, .bottom__copyright {
   justify-content: space-between;
   align-items: center;
  }
  .bottom__copyright p {
    display: block;
    padding-left: 14px;
    color: #eee;
  }
  .bottom__copyright p a {
    text-decoration: none;
    color: #ff6600;
    transition: all 0.3s;
  
  }
  .bottom__copyright p a:hover  {
    color: #fff;
  }
  .copyright__list ul li{
    list-style: none;
    text-align: right;
    
  }
  .copyright__list ul {
    justify-content: end;
  }
  .copyright__list ul li a {
    text-decoration: none;
    color: #c2d0da;
    margin-right: 30px;
    transition: all 0.3s;
    
  }
  .copyright__list ul li a:hover {
    color: #ff6600;
  
  }
  #copyright .copyright__list {
    text-align: center;
  }
  #copyright .row {
    flex-direction: row;
  }
  
  
  /* End copyright */
  
  /* Start video poster */
  #video-poster {
    position: fixed;
    display: block;
    width: 100%;
    margin-left: 0px;
    bottom: 0;
    left: 4px;
    z-index: 1000;
    width: 500px;
  }
  /* .video-poster {
    width: 100%;
    height: 100%;
  } */
  .frame-video {
    height: 470px;
  }
  .logo-video {
    display: flex;
    justify-content: space-between;
    background: #ffffff69;
    padding-bottom: 1px;
    backdrop-filter: blur(5px);
    min-height: 20px;
    align-items: center;
  }
  .logo-text {
    color: #c2d0da;
    position: relative;
    top: 2px;
    font-size: 10px;
    font-family: sans-serif;
    line-height: 1px;
  }
  .content-video video {
    width: 100%;
    height: 100%;
  }
  
  /* End video poster */
  
  
  
  /* Testimonials responsive */
  
  @media screen and (max-width: 991.98px) {
  
    footer .footer__social {
      text-align: center;
    }
    footer .footer_item3, .footer_item4 {
      margin-top: 30px;
    }
    .copyright__text, .copyright__list {
        display: block;
    }

  }
  
  /* @media screen and (max-width: 767.98px) {
    footer .footer__social {
      text-align: center;
    }
    footer .footer_item3, .footer_item4 {
      margin-top: 30px;
    }
  } */
  
  
  
  @media screen and (max-width:575.98px) {
    footer .footer_item2 {
      margin-top: 30px;
    }
  }

/* END CSS ANH KIET */


/* Dark theme */
.dark__theme i {
  font-size: 22px;
  color: #eee;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}
/* Light theme */
#myBody{
  background-color:white;
}

#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}

/* Dark Theme*/
.dark#myBody{
  background-color: #232121;
}

.dark #switchButton .fa-sun {
  display: block;
}

.dark #switchButton .fa-moon {
  display: none;
}

.dark .features__item {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark #features p{
  color: #eee;
}

.dark .features__title a {
  color: #eee;
}

.dark .features__title a:hover {
  color: #ff6600;
}

.dark .number__item {
  background-color: #232220;
}

.dark .number__count {
  color: #eee;
}

.dark .number__item p {
  color: #c2d0da;
}

.dark #blogs {
  background-color: #282828;
}

.dark .blogs__title h3 {
  color: #eee;
}

.dark #blogs a{
  color: #eee;
}

.dark .blogs__item__bottom p {
  color: #eee;
}


.dark#testimonials .testimonials__title h3 {
  color: #eee;
}

.dark#testimonials .swiper__item h4 {
  color: #eee;
}
.dark#testimonials .swiper__item p {
  color: #eee;
}

.dark .right-content .search-bar .search__input {
  background: #232121;
  border: 1px solid #232121;
  color: #c2d0da;
}

.dark .right-content .search-bar .search .search__icon {
  color: #c2d0da;
}

.dark .title-w31 {
  color: #eee;
}






